* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}

header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url('ima1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    height: 15vh;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

nav .logo {
    font-size: 25px;
            text-align: center;
            margin: 50px;
        /*    background: repeating-linear-gradient(45deg,red 5%,orange 10%,yellow 15%);*/
            -webkit-background-clip: text;/*Mozila */
            color: transparent;
            animation: abc 3s infinite alternate;
}

nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu a:first-child {
    color: #00b894;
}

main {
    width: 100%;
    height: 85vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

section {}

section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;

}

section h1 {
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: capitalize;
    margin: 30px, 0px, 20px, 0px;
}

p {
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
    text-transform: capitalize;
    margin-bottom: 25px;
    word-spacing: 2px;
}

section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}

section .btnone {
    background: #fff;
    color: #000;
}

section .btntwo {
    background: #df4d03;
    color: #fff;
}

@keyframes abc 
{
    0%{
        background:#f25420;
        -webkit-background-clip: text;

    }
   
    100%{
        background:#c62003;
        -webkit-background-clip: text;
    }
}
 h1:hover{
    animation-timing-function: 1s ;
}
.change_conteent::after{
    content: '';
    animation: changetext 10s infinite linear;
    color: red;
}
@keyframes changetext{
0%{content:"Hnumangadhi";}
20%{content:"kanak";}
40%{content:"Dasrath";}
60%{content:"Swing Pool";}
80%{content:"Saryu jii";}
100%{content:"Gulab badi";}

}
